on:
  push:
    branches:
      - master

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Git Identity
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/Kakuhiry/lerna-test
        env:
          GITHUB_TOKEN: ${{ secrets.PTA }}

      - name: Login Google Cloud
        run: |
          echo $CLOUD_DATA > gcloud.json
          gcloud auth activate-service-account --key-file gcloud.json
          gcloud auth list
          lerna -v
        env:
          CLOUD_DATA: ${{ secrets.GCP_KEY_FILE }}

      - name: Authenticate with Registry
        run: |
          echo @SCOPE:registry=https://us-npm.pkg.dev/crack-linker-326904/our-registry/ > .npmrc
          echo //us-npm.pkg.dev/crack-linker-326904/our-registry/:_password="eWEyOS5hMEFScmRhTV9GelBEdklrVXh0YVdadllrcS11TU9IX2FlNVNfdmwxUjNMMXRtbmdFdV9YcVVNVVdacU1WMUt5TVhlZ1cwUHl0c0tNV2hJOURaTm5hVEdIb3dFU3FxcDhzOTk2c2VyY0tqNTA3SDVDSG9Cb2JERFZGOFZZbFBLS0VPOXVuTWc0aGQyY2czRHRrTk5YcTZUMlRoc3F2YQ==" >> .npmrc
          echo //us-npm.pkg.dev/crack-linker-326904/our-registry/:username=oauth2accesstoken >> .npmrc
          echo //us-npm.pkg.dev/crack-linker-326904/our-registry/:email=not.valid@email.com >> .npmrc
          echo //us-npm.pkg.dev/crack-linker-326904/our-registry/:always-auth=false >> .npmrc
          cat .npmrc

          npx google-artifactregistry-auth --repo-config .npmrc --credential-config .npmrc
          npm whoami --registry https://us-npm.pkg.dev/crack-linker-326904/our-registry/
          
        # npm whoami --registry https://us-npm.pkg.dev/crack-linker-326904/our-registry/
        # env:
          # REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
          # REGISTRY_URL: ${{ secrets.REGISTRY_URL }}
          # REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
          # NPMRC: ${{ secrets.NPMRC }}
      
      # - name: commit
      #   run: |
      #     git add .
      #     git commit -m "new version commit"
      #     git push origin master

      - name: Publish to Artifact Registry
        run: |
          lerna ls
          npx lerna publish --cd-version patch --registry https://us-npm.pkg.dev/crack-linker-326904/our-registry/ --yes