name: CD

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v1

      - name: Configure CI Git User
        run: |
          git config --global user.name '@CurboCI'
          git config --global user.email 'CurboCI@users.noreply.github.com'
          git remote set-url origin https://$GITHUB_ACTOR:$GITHUB_PAT@github.com/Kakuhiry/lerna-test
        env:
          GITHUB_PAT: ${{ secrets.GITHUB_PAT }}

      - name: Checkout and pull branch
        run: git checkout master && git pull

      - name: Install Packages
        run: npm install

      - name: Authenticate with Registry
        run: |
          echo "@SCOPE:registry=https://$REGISTRY_URL" > .npmrc
          echo >> .npmrc
          echo //$REGISTRY_URL/:_password="$REGISTRY_PASSWORD" >> .npmrc
          echo //$REGISTRY_URL/:username=$REGISTRY_USERNAME >> .npmrc
          echo //$REGISTRY_URL/:email=not.valid@email.com >> .npmrc
          echo "//$REGISTRY_URL/:always-auth=true" >> .npmrc
          npm whoami
        env:
          REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
          REGISTRY_URL: ${{ secrets.REGISTRY_URL }}
          REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}

      - name: Publish package
        run: "lerna publish --yes --message 'chore: release new versions'"
          