name: CD

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v1

      # - name: Configure CI Git User
      #   run: |
      #     git config --global user.name '@CurboCI'
      #     git config --global user.email 'CurboCI@users.noreply.github.com'
      #     git remote set-url origin https://$GITHUB_ACTOR:$GITHUB_PAT@github.com/Kakuhiry/lerna-test
      #   env:
      #     GITHUB_PAT: ${{ secrets.GITHUB_PAT }}

      # - name: Checkout and pull branch
      #   run: git checkout master && git pull

      - name: Install Packages
        run: npm install

      - name: Login Google Cloud
        run: |

          echo $CLOUD_DATA > gcloud.json
          gcloud auth activate-service-account --key-file gcloud.json
        env:
          CLOUD_DATA: ${{ secrets.GCP_KEY_FILE }}   

      - name: Authenticate with Registry
        run: |
          echo $NPMRC > .npmrc
          npx google-artifactregistry-auth --repo-config .npmrc --credential-config .npmrc
          npm whoami --registry https://REGISTRY_URL

        env:
          REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
          REGISTRY_URL: ${{ secrets.REGISTRY_URL }}
          REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
          NPMRC: ${{ secrets.NPMRC }}

      - name: Publish package
        run: "lerna publish --yes --message 'chore: release new versions'"
          