name: "AppThreat/sast-scan"

on:
  push:
    branches: [ master ]

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - uses: bhowell2/github-substring-action@v1.0.0
      id: port
      with:
        value: 'api-gateway.4000'
        length_from_end: 4
        
    - uses: bhowell2/github-substring-action@v1.0.0
      id: service
      with:
        value: 'api-gateway.4000'
        index_of_str: '.${{ steps.port.outputs.substring }}'
        
    - name: ${{ steps.port.outputs.substring }}
      run: echo ${{ steps.port.outputs.substring }}
    
    - name: ${{ steps.service.outputs.substring }}
      run: echo ${{ steps.service.outputs.substring }}
    

#     - name: nodejsscan scan
#       id: njsscan
#       uses: ajinabraham/njsscan-action@master
#       with:
#         args: ". --sarif --output results.sarif || true"

#     - name: Upload scan reports
#       uses: actions/upload-artifact@v1.0.0
#       with:
#         name: Source Code Security Scan Report - ${{ matrix.apps }}
#         path: results.sarif
        
#     - name: Scan
#       uses: ShiftLeftSecurity/scan-action@master
#       env:
#         VDB_HOME: ${{ github.workspace }}/vdb
#         WORKSPACE: https://github.com/${{ github.repository }}/blob/${{ github.sha }}
#         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         SCAN_AUTO_BUILD: true
#       with:
#         output: reports

#     - name: Upload scan reports
#       uses: actions/upload-artifact@v1.0.0
#       with:
#         name: shiftleft-scan-reports
#         path: reports

#     - name: MegaLinter
#       uses: megalinter/megalinter@v5.2.0
#       env:
#         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         DISABLE_ERRORS: true
