name: "AppThreat/sast-scan"

on:
  push:

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          api-gateway:
            - 'packages/server/**'
            - 'packages/common/**'
            

           
        base: ${{ github.ref }}

#     - name: nodejsscan scan
#       id: njsscan
#       uses: ajinabraham/njsscan-action@master
#       with:
#         args: ". --sarif --output results.sarif || true"

#     - name: Upload scan reports
#       uses: actions/upload-artifact@v1.0.0
#       with:
#         name: Source Code Security Scan Report - ${{ matrix.apps }}
#         path: results.sarif
        
#     - name: Scan
#       uses: ShiftLeftSecurity/scan-action@master
#       env:
#         VDB_HOME: ${{ github.workspace }}/vdb
#         WORKSPACE: https://github.com/${{ github.repository }}/blob/${{ github.sha }}
#         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         SCAN_AUTO_BUILD: true
#       with:
#         output: reports

#     - name: Upload scan reports
#       uses: actions/upload-artifact@v1.0.0
#       with:
#         name: shiftleft-scan-reports
#         path: reports

#     - name: MegaLinter
#       uses: megalinter/megalinter@v5.2.0
#       env:
#         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         DISABLE_ERRORS: true
