name: "AppThreat/sast-scan"

on:
  push:
    branches:
      - "a"

jobs:
    create-PR1:
     outputs:
       pr-number: ${{ steps.pull_request.outputs.pull_request_number }}
     runs-on: ubuntu-latest
     steps:
      - name: pull-request-action
        id: pull_request
        uses: vsoch/pull-request-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PULL_REQUEST_FROM_BRANCH: "a"
          PULL_REQUEST_BRANCH: "new-version"
          PULL_REQUEST_TITLE: "new-version [skip ci]"
          
