name: DAST scan completition check

on:
  push:
    branches:
      - "master"

jobs:
    get:
     runs-on: ubuntu-latest
     steps:
      - name: a
        if: contains(github.event.head_commit.message, 'feat(*):')
        run: echo "this works well"
