name: "AppThreat/sast-scan"

on:
  push:
    branches: [ master ]

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    
#     - uses: AppThreat/sast-scan-action@master
#       with:
#         type: "nodejs"
#     - name: nodejsscan scan
#       id: njsscan
#       uses: ajinabraham/njsscan-action@master
#       with:
#         args: '. --sarif --output results.sarif || true'

#     - uses: actions/upload-artifact@v1
#       with:
#         name: Report
#         path: ./results.sarif

    - name: Scan
      uses: ShiftLeftSecurity/scan-action@master
      env:
        VDB_HOME: ${{ github.workspace }}/vdb
        WORKSPACE: https://github.com/${{ github.repository }}/blob/${{ github.sha }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SCAN_AUTO_BUILD: true
      with:
        output: reports

    - name: Upload scan reports
      uses: actions/upload-artifact@v1.0.0
      with:
        name: shiftleft-scan-reports
        path: reports

    - name: MegaLinter
      uses: megalinter/megalinter@v5.2.0
