on:
  push:
  repository_dispatch:
    type: "a"

jobs:
  docker:
    runs-on: ubuntu-latest
    outputs:
      apps: ${{ steps.filter.outputs.docker }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          ref: master
          filters: |
            base:
              - 'base/**'
        
  testing:
    needs: docker
    if: ${{ needs.docker.outputs.apps != '[]' && needs.docker.outputs.apps != '' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        apps: ${{ fromJSON(needs.docker.outputs.apps) }}
    steps:
      - name: aa
        run: echo ${{ steps.docker.outputs.base }} 
        
        
