on: pull_request

env:
  PR_NUMBER: ${{ github.event.pull_request.number }}

jobs:
  docker-testing:
    runs-on: ubuntu-latest
    steps:
    - name: view the PR number
      run: |
        echo "PR number = ${{ github.event.pull_request.number }}"
        echo "PR number = ${{ env.PR_NUMBER }}"
        
    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch
      
    - run: echo ${{ steps.extract_branch.outputs.branch }}
