on:
  push:
  repository_dispatch:
    type: "a"

jobs:
  docker-testing:
    runs-on: ubuntu-latest
    steps:
      - name: a
        if: ${{ github.event.action == 'a' }}
        run: echo "HAHAHAHAH!!"
        
      - name: aa
        run: echo ${{ github.event_name }} 
        
        
