on:
  push:
  repository_dispatch:
    type: "a"

jobs:
  docker-testing:
    runs-on: ubuntu-latest
    steps:
      - name: a
        #if: ${{ github.event.event_type == a }}
        run: echo ${{ github.event.action }}
